/** BASIC SETUP **/

/* Cochin */
@font-face {
  font-family: "Cochin-Regular";
  src: url("../../static/Cochin-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cochin-Italic";
  src: url("../../static/Cochin-Italic.woff") format("woff");
}

/* Walbaum */
@font-face {
  font-family: "Walbaum-Regular";
  src: url("../../static/BertholdWalbaumBook-Regular.woff") format("woff");
}

@font-face {
  font-family: "Walbaum-Italic";
  src: url("../../static/BertholdWalbaumBookItalics-Regular.woff")
    format("woff");
}

/* Sabon */
@font-face {
  font-family: "Sabon-Regular";
  src: url("../../static/SabonMT-regular.woff") format("woff");
}

@font-face {
  font-family: "Sabon-Italic";
  src: url("../../static/SabonMTItalics-regular.woff") format("woff");
}

/* Perpetua */
@font-face {
  font-family: "Perpetua-Regular";
  src: url("../../static/Perpetua.woff") format("woff");
}

@font-face {
  font-family: "Perpetua-Italic";
  src: url("../../static/Perpetua-Italic.woff") format("woff");
}

/* Superclarendon */
@font-face {
  font-family: "Superclarendon-Regular";
  src: url("../../static/Superclarendon-Regular.woff") format("woff");
}

@font-face {
  font-family: "Superclarendon-Italic";
  src: url("../../static/Superclarendon-Italic.woff") format("woff");
}

html {
  /* background-color:#642320; */
  /* background-color:#642320; */
  /* background-color:#542a45; */
  /* background-color:#22305d; */
  /* background-color: #0d4142; */
  /* background-color:#5f5b4b; */
  /* background-color:#4b595f; */
  background-color:black;

  color: white;
  overflow-y: scroll;
  line-height: 1.45;
}

body {
  font-family: "Cochin-Regular";
  /* font-family: "Walbaum-Regular"; */
  /* font-family: "Sabon-Regular"; */
  /* font-family: "Perpetua-Regular"; */
  /* font-family: "Superclarendon-Regular"; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

i,
em {
  font-family: "Cochin-Italic";
  /* font-family: "Walbaum-Italic"; */
  /* font-family: "Sabon-Italic"; */
  /* font-family: "Perpetua-Italic"; */
  /* font-family: "Superclarendon-Italic"; */
}

p {
  margin-top: 0;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover,
button:hover {
  color: rgba(255, 255, 255, 0.8);
  filter: blur(2px);
  transition: all 0.3s ease-in-out;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: 0;
  padding: 0;
}

img,
img::after,
img::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

form {
  /* transform: translateY(-15px); */
  width:85%;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 100;
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(0, 0, 0, 0) 55%
  );
  background: -o-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(0, 0, 0, 0) 55%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(0, 0, 0, 0) 55%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(0, 0, 0, 0) 55%
  );
}


.wrapper.biography{
  /* background-color: #0d4142; */
}

.wrapper.calendar{
  background-color: #412242;
}

.wrapper.media{
  background-color: #0e3154;
}

.wrapper.gallery{
  background-color: #0d4142;
}

.wrapper.research{
  background-color: #412242;
}

.wrapper.contact{
  background-color: #0e3154;
}

.mobile-bar {
  width: 32%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container {
  width: 68%;
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  padding: 40px 65px 70px 0px;
}

.background {
  top: 0px;
  z-index: -9;
  width: 32%;
  height: 100vh;
  position: fixed;
}

.header {
  width: 32%;
  height: 100vh;
}

.logo {
  z-index: 50;
  display: inline-block;
  margin-left: 40px;
  margin-top: 42px;
  position: fixed;
  font-size: 26px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 40px;
  position: fixed;
  height: 100%;
  z-index: 30;
  margin-top: 40px;
}

.list-item {
  font-size: 40px;
  padding-bottom: 10px;
}

.list-item a {
  color: white;
}

.hamburger {
  display: none;
}

/** HOME **/

.background-container {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -99;
}

.background-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

/** TYPOGRAPHY **/

.type-xl {
  font-size: 60px;
}

.type-l {
  font-size: 40px;
}

.type-m {
  font-size: 32px;
}

.type-s {
  font-size: 22px;
}

.type-xs {
  font-size: 18px;
}

.type-white {
  color: white;
}

label {
  font-size: 28px;
}

/** SCHEDULE **/
.para-divider p {
  border-top: 1px solid white;
  padding: 20px 0;
  display: block;
  width: 100%;
}
.event p {
  margin: 0;
  padding: 0;
}

/** INPUT **/
::placeholder {
  color: white;
}

/** AUDIO **/
audio {
  height: 32px;
  width: 100%;
  max-width: 400px;
}

/** MENU ANIMATAION **/
.list-item.active {
  transform: translateX(20px);
}

.list-item {
  transform: translateX(0px);
  transition: all 0.3s ease-out;
}

/** GALLERY **/

.gallery-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 300px;
  grid-column-gap: 3.333%;
  grid-row-gap: 50px;
  justify-content: space-between;
  justify-items: center;
  align-items: flex-start;
}

.gallery-img {
  width: 100%;
  height: 300px;
  max-height: 300px;
  /* object-fit: contain; */
  object-fit: cover;
  filter: grayscale(90%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.gallery-img:hover {
  width: 100%;
  filter: grayscale(0%);
  cursor: pointer;
}

.slideshow {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  opacity: 1;
  transition: all 0.28s ease-in-out;
}

.slideshow.hide {
  opacity: 0;
  z-index: -1;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.slide {
  width: 75%;
  height: 90vh;
  object-fit: contain;
}

.prev {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.next {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}



label {
  display: block;
}

@media only screen and (max-width: 1185px) {
  .gallery-container {
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    grid-row-gap: 50px;
  }

  .list-item {
    font-size: 2em;
  }

  form {
    transform: translateY(0px);
    width:100%;
  }

  .container {
    padding: 40px 40px 60px 0px;
  }

  .menu {
    padding: 20px;
  }

  .logo {
    margin-left: 20px;
  }

  .inner {
    max-width: 100%;
  }
}

@media only screen and (max-width: 786px) {

  .wrapper {
    background: transparent;
  }
  
  h1 {
    font-size: 32px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 12px;
  }

  h3,
  label {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .inner {
    width: 100%;
  }

  .mobile-bar {
    width: 100%;
    height: 50px;
    position: fixed;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 40;
  }

  .menu {
    z-index: 30;
    opacity: 0;
    transform: translate(0, -100%);
    transition: all 0.4s ease-in-out;
  }

  .menu.show {
    opacity: 1;
    height: 100%;
    width: 100%;
    transform: translate(0, 0);
  }

  .wrapper {
    flex-wrap: wrap;
  }

  .header {
    width: 80%;
    height: 50px;
  }

  .container {
    width: 100%;
    margin-top: 50px;
    padding: 30px 23px 60px 23px;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .hamburger {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 40;
    width: 20%;
    font-size: 20px;
    cursor: pointer;
    margin-top: -1px;
    padding-right: 23px;
  }

  .logo {
    z-index: 100;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 23px;
    margin-top: -3px;
    font-size: 20px;
  }

  .background {
    background: black;
    width: 100%;
    height: 0px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  .background.extend {
    height: 100%;
    opacity: 1;
    z-index: 10;
    position: fixed;
    top: 50px;
  }

  .gallery-container {
    grid-template-rows: 200px;
    grid-row-gap: 40px;
  }


  .gallery-img {
    height: 200px;
  }

}

