html {
  background-color: darkgreen;
  color:white;
  overflow-y: scroll;
  line-height:1.4;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgba(255,255,255,.3)
}

/** HOME **/
.background-container {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -99;
}

.background-container img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

/** TYPOGRAPHY **/

.type-xl{
  font-size: 60px;
}

.type-l{
  font-size: 40px;
}

.type-m{
  font-size: 32px;
}

.type-s{
  font-size: 20px;
}

.type-xs{
  font-size: 14px;
}

.type-white {
  color:white;
}

/** SCHEDULE **/
.para-divider p{
  border-top:1px solid white;
  padding:20px 0;
  display:block;
  width:100%;
}