@font-face {
  font-family: "Cochin-Regular";
  src: url("../../static/Cochin-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cochin-Italic";
  src: url("../../static/Cochin-Italic.woff") format("woff");
}

html {
  background-color:#14707a;
  color:white;
  overflow-y: scroll;
  line-height:1.4;
}

body {
  font-family: "Cochin-Regular";
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
}

i,
em {
  font-family: "Cochin-Italic";
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgba(255,255,255,.3);
  filter: blur(2px);
  transition: all 0.3s ease-in-out;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button {
  border: 0;
  padding: 0;

}

/** HOME **/
.background-container {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -99;
}

.background-container img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

/** TYPOGRAPHY **/

.type-xl{
  font-size: 60px;
}

.type-l{
  font-size: 40px;
}

.type-m{
  font-size: 32px;
}

.type-s{
  font-size: 22px;
}

.type-xs{
  font-size: 14px;
}

.type-white {
  color:white;
}

/** SCHEDULE **/
.para-divider p{
  border-top:1px solid white;
  padding:20px 0;
  display:block;
  width:100%;
}
.event p {
  margin: 0;
  padding: 0;
}

/** INPUT **/
::placeholder {
  color: white;
}

/** AUDIO **/
audio {
  height:32px;
  width: 400px;
}

/** MENU ANIMATAION **/
.list-item.active {
  transform: translateX(22px);
}

.list-item {
  transform: translateX(0px);
  transition: all 0.4s ease-in-out;
}