.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container {
  padding: 40px;
  width: 65%;
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20 35px;
  /* border: 2px solid red; */
}

.background {
  z-index: -9;
  width: 32%;
  height: 100vh;
  position: fixed;
  background:-webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background:-o-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0,0,0) 100%);
  background:-moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0,0,0) 100%);
  background:linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0,0,0) 100%);
}

.header {
  width: 35%;
  height: 100vh;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 40px;
  position: fixed;
}

.ul li {
  font-size: 34px;
  padding-bottom:8px;
}

.ul li a {
  color: white;
}

@media only screen and (max-width: 1185px) {

  .container {
    padding: 20px;
  }
  
  .ul {
    padding: 20px;
  }
  
}