.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.header {
  margin-bottom: 1.5rem;
}

.logo {
  display: inline-block;
}

.ul {
  list-style: none;
  float: right;
}

/* 
@media only screen and (max-width: 1185px) {

  .container {
    margin: 0 auto;
    padding: 0 15px;
  }
  
  
} */